* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0b0b0b;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
}

.navbar a {
  color: #d1d5db;
  text-decoration: none;
}

.logo {
  color: #4ade80;
  font-weight: 700;
}

.btn-outline {
  border: 1px solid #4ade80;
  padding: 10px 18px;
  border-radius: 30px;
  color: #4ade80;
  background: none;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.hero-left {
  max-width: 600px;
}

.tag {
  color: #4ade80;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.hero-left h1 {
  font-size: 3.2rem;
  margin: 20px 0;
}

.desc {
  color: #d1d5db;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background: #4ade80;
  color: #000;
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-secondary {
  border: 1px solid #4ade80;
  color: #4ade80;
  padding: 12px 24px;
  border-radius: 30px;
  background: none;
  cursor: pointer;
}

/* IMAGE */
.hero-right img {
  width: 300px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  background: #111;
  padding: 40px 0;
}

.stats h3 {
  color: #4ade80;
}

/* SECTIONS */
.section {
  padding: 80px;
}

.section.dark {
  background: #111;
}

.section h2 {
  color: #4ade80;
  margin-bottom: 20px;
}

.section p {
  max-width: 750px;
  color: #d1d5db;
  line-height: 1.8;
}

/* PROJECTS */
.project {
  margin-bottom: 25px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #4ade80;
}

/* FOOTER */
footer {
  background: #000;
  text-align: center;
  padding: 40px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
  color: #4ade80;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.skills-grid div {
  background: #0b0b0b;
  border: 1px solid #4ade80;
  padding: 20px;
  border-radius: 12px;
}
